<div class="container">
    
    <!-- <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div> -->

    <div class="card">
        <div class="input-group">
            <input type="text" [(ngModel)]="edrpou" class="form-control" placeholder="Введіть ЄДРПОУ організації:">
            <div class="input-group-append">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getOrgByEdrpou()">Знайти</button>
            </div>
          </div>
        <p *ngIf="loading">
            Loading ...
        </p>  
        <div *ngIf="!loading" class="card-body">
            <table *ngIf="org.id!==null; else noData" class="table table-striped">
                <thead>
                    <th>Назва атрибута</th>
                    <th>Значення</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Найменування юридичної особи, у тому числі скорочене (за наявності)</th>
                        <td>{{org.names.name}} ({{org.names.short}})</td>
                    </tr>
                    <tr>
                        <th>Організаційно-правова форма</th>
                        <td>{{org.olf_name}}</td>
                    </tr>
                    <tr>
                        <th>Назва юридичної особи</th>
                        <td>{{org.names.name}}</td>
                    </tr>
                    <tr>
                        <th>Найменування юридичної особи іноземною мовою</th>
                        <td>{{org.names.name_for}}</td>
                    </tr>
                    <tr>
                        <th>Ідентифікаційний код юридичної особи</th>
                        <td>{{org.code}}</td>
                    </tr>
                    <tr>
                        <th>Центральний чи місцевий орган виконавчої влади, до сфери управління якого належить юридична особа публічного права або який здійснює функції з управління корпоративними правами держави у відповідній юридичній особі</th>
                        <td>{{org.executive_power.name}}. Код ЄДРПОУ {{org.executive_power.code}}</td>
                    </tr>
                    <tr>
                        <th>Місцезнаходження юридичної особи</th>
                        <td>{{org.address.address}}</td>
                    </tr>
                    <tr>
                        <th>Розмір статутного (складеного) капіталу (пайового фонду)</th>
                        <td>Розмір : {{org.authorised_capital.value}} грн. </td>
                    </tr>
                    <tr>
                        <th>Перелік засновників (учасників) юридичної особи: прізвище, ім'я, по батькові (за наявності), країна громадянства, місце проживання, якщо засновник – фізична особа; найменування, країна резидентства, місцезнаходження та ідентифікаційний код, якщо засновник – юридична особа; інформація про встановлення вимоги нотаріального засвідчення справжності підпису під час прийняття рішень з питань діяльності юридичної особи та/або вимоги нотаріального посвідчення правочину, предметом якого є частка учасника у статутному (складеному) капіталі (пайовому фонді) юридичної особи; розмір частки засновника (учасника)
                        </th>
                        <td>
                            <p *ngFor="let f of org.founders">
                                {{f.name}}.,
                                Розмір частки засновника (учасника): {{f.capital}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Інформація про кінцевого бенефіціарного власника (контролера) юридичної особи, у тому числі кінцевого бенефіціарного власника (контролера) її засновника, якщо засновник - юридична особа: прізвище, ім’я, по батькові (за наявності), країна громадянства, місце проживання, а також повне найменування та ідентифікаційний код (для резидента) засновника юридичної особи, в якому ця особа є кінцевим бенефіціарним власником (контролером), або інформація про відсутність кінцевого бенефіціарного власника (контролера) юридичної особи, у тому числі кінцевого бенефіціарного власника (контролера) її засновника</th>
                        <td>
                            <p *ngFor="let b of org.beneficiaries">
                                {{b.name}}, {{b.address.country}}, {{b.address.address}} ,
                                Тип бенефіціарного володіння: {{b.beneficiaries_type}},
                                Відсоток частки статутного капіталу або відсоток права голосу:  {{b.interest}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Види діяльності</th>
                        <td>
                            <p *ngFor="let kved of org.activity_kinds">
                                {{kved.code}} {{kved.name}} {{kved.is_primary===true ? '(основна)' : ''}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Відомості про органи управління юридичної особи</th>
                        <td>{{org.management}}</td>
                    </tr>
                    <tr>
                        <th>Відомості про керівника юридичної особи, про інших осіб, які можуть вчиняти дії від імені юридичної особи, у тому числі підписувати договори, подавати документи для державної реєстрації тощо: прізвище, ім’я, по батькові (за наявності), дані про наявність обмежень щодо представництва юридичної особи</th>
                        <td>
                            <p *ngFor="let h of org.heads">
                                <span *ngIf="h.role === 3">
                                    {{h.last_name}} {{h.first_middle_name}} ({{h.restriction}}) {{h.role_text}}
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Назва установчого документа</th>
                        <td>{{org.founding_document_name}}</td>
                    </tr>
                    <tr>
                        <th>Дата та номер запису в Єдиному державному реєстрі про проведення державної реєстрації юридичної особи – у разі, коли державна реєстрація юридичної особи була проведена після набрання чинності Законом України "Про державну реєстрацію юридичних осіб та фізичних осіб-підприємців"</th>
                        <td>Дата запису: {{org.registration.record_date}} Номер запису: {{org.registration.record_number}}</td>
                    </tr>
                    <tr>
                        <th>Дата державної реєстрації, дата та номер запису в Єдиному державному реєстрі про включення до Єдиного державного реєстру відомостей про юридичну особу – у разі, коли державна реєстрація юридичної особи була проведена до набрання чинності Законом України "Про державну реєстрацію юридичних осіб та фізичних осіб-підприємців"</th>
                        <td>Дата державної реєстрації: {{org.registration.date}}, Дата запису: {{org.registration.record_date}}, Номер запису: {{org.registration.record_number}}</td>
                    </tr>
                    <tr>
                        <th>Дата державної реєстрації, дата та номер запису в Єдиному державному реєстрі про проведення державної реєстрації юридичної особи, яка утворена в результаті перетворення</th>
                        <td><span *ngIf="org.registration.is_transformation === true">
                            <td>Дата державної реєстрації: {{org.registration.date}}, Дата запису: {{org.registration.record_date}}, Номер запису: {{org.registration.record_number}}</td>
                        </span></td>
                    </tr>
                    <tr>
                        <th>Дані про відокремлені підрозділи юридичної особи: найменування, ідентифікаційний код, місцезнаходження</th>
                        
                        <td>
                            <p *ngFor="let b of org.branches">
                                <span>
                                    {{b.name}}  Код ЄДРПОУ ВП: {{b.code}} Місцезнаходження: {{b.address.address}}
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Дані про перебування юридичної особи в процесі провадження у справі про банкрутство, санації</th>
                        <td>{{org.bankruptcy}}</td>
                    </tr>
                    <tr>
                        <th>Дані про перебування юридичної особи в процесі припинення</th>
                        <td>{{org.termination}}</td>
                    </tr>
                    <tr>
                        <th>Відомості про смерть, визнання безвісно відсутнім чи оголошення померлим засновника (учасника), керівника та особи, яка може вчиняти дії від імені юридичної особи</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Відомості про строк, визначений засновниками (учасниками) юридичної особи, судом або органом, що прийняв рішення про припинення юридичної особи, для заявлення кредиторами своїх вимог</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Дата та номер запису про державну реєстрацію припинення юридичної особи, підстава для його внесення</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Дата та номер запису про відміну державної реєстрації припинення юридичної особи, підстава внесення</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Дані про юридичних осіб, правонаступником яких є зареєстрована юридична особа: повне найменування, ідентифікаційний код</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Дані про юридичних осіб - правонаступників: повне найменування, ідентифікаційний код</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Місцезнаходження реєстраційної справи</th>
                        <td>{{org.object_name}}</td>
                    </tr>
                    <tr>
                        <th>Відомості, отримані в порядку інформаційної взаємодії між Єдиним державним реєстром юридичних осіб, фізичних осіб - підприємців та громадських формувань та інформаційними системами державних органів</th>
                        <td>
                            <span *ngFor="let reg of org.registrations">
                                {{reg.start_date}} {{reg.start_num}} {{reg.name}} {{reg.code}} ({{reg.description}}) ;   
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Дата відкриття виконавчого провадження щодо юридичної особи (для незавершених виконавчих проваджень)</th>
                        <td>
                            <span *ngFor="let enforcement of org.open_enforcements">
                                {{enforcement}};
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Інформація для здійснення зв'язку</th>
                        <td>
                            <p>{{org.contacts.email}}</p>
                            <p *ngFor="let phone of org.contacts.tel">
                                {{phone}};
                            </p>
                            <p>{{org.contacts.fax}}</p>
                            <p>{{org.contacts.web_page}}</p>
                            <p>{{org.contacts.anotherInfo}}</p>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #noData>
    <p>No data</p>
</ng-template>

